body {
    font-family: arial;
}

section {
    padding: 1em;
}

label {
    display: block;
    margin: 2ex 0;
    font-size: small;
}

label input.text, label textarea, label button {
    display: block;
    width: 100%;
}

form button {
    background: lightgreen;
}

label textarea {
    height: 450px;
}

iframe {
    width: 100%;
    height: 600px;
}

#bite {
    display: none;
}

#bite-editor {
    width: 600px;
    height: 400px;
}
